<footer class="footer py-5 mt-5">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'About Us', about_path, class: 'nav-link' %>
      </li>
    </ul>
    <span class="text-muted">&copy; Plymouth Rock Real State 2017</span>
  </div>
</footer>